VITE_SUPABASE_URL=https://cjmkxkksnqtfsnpsdspc.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNqbWt4a2tzbnF0ZnNucHNkc3BjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2Mzc1NDIsImV4cCI6MjA4OTIxMzU0Mn0.bEH4pxzD1PFFVEysHLNeey8Dg02PqiPAoWEN7icC1NY
VITE_PINECONE_API_KEY=
VITE_PINECONE_INDEX=archo-mortgage
